<div class="container-fluid">
	<div class="row toolbar-pf">
		<form>
			<select-raw-logs-group></select-raw-logs-group>
		</form>

	</div>
	<!-- /row -->
</div>
<div class="container-fluid">
	<div class="list-group list-view-pf list-view-pf-view">
		<form class="content-view-pf-pagination  clearfix"
			style="border: 0px;" ng-show=" $ctrl.rawlogs.length > 0 ">
			<div class="form-group">
				<h5>Export all: &nbsp;</h5>
				<span> <a href="" ng-click="$ctrl.export()"><span
						class="pficon-export"></span></a>
				</span>
			</div>
			<div class="form-group">
				<span><span class="pagination-pf-items-current">Page </span>
					<span class="pagination-pf-items-total"> {{$ctrl.actualIndex
						}}</span></span>
				<ul class="pagination pagination-pf-back">

					<li ng-show="$ctrl.actualIndex > 1"><a
						ng-click="$ctrl.previous()" title="Previous Page"><span
							class="i fa fa-angle-left"></span></a></li>
				</ul>
				<ul class="pagination pagination-pf-forward">
					<li><a ng-click="$ctrl.next()" title="Next Page"><span
							class="i fa fa-angle-right"></span></a></li>
				</ul>
			</div>
		</form>
		<div class="list-group-item" ng-repeat="log in $ctrl.rawlogs">
			<div class="list-group-item-header">
				<div class="list-view-pf-expand">
					<span class="fa fa-angle-right"></span>
				</div>
				<div class="list-view-pf-main-info" id="wrapper">
					<div class="list-view-pf-body">
						<div class="list-view-pf-description">
							<div class="list-group-item-text"
								style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-top: 7px;">
								<span>{{log}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="list-group-item-container container-fluid hidden">
				<div class="close">
					<span class="pficon pficon-close"></span>
				</div>
				<div class="row">
					<div class="col-md-12">
						<dl class="dl-horizontal">
							<dt>Log Level</dt>
							<dd>
								<a><span ng-class="$ctrl.loglevelClass(log.loglevel)"></span>{{azRegion.error}}</a>
							</dd>
							<dt>Date</dt>
							<dd>{{log.log_ts}}</dd>
							<dt>Service</dt>
							<dd>{{log.service | capitalize}}</dd>
							<dt>Region</dt>
							<dd>{{log.region | capitalize}}</dd>
							<dt>Node Type</dt>
							<dd>{{log.node_type | capitalize}}</dd>
							<dt>Pay Load</dt>
							<dd>{{log.payload}}</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
